{{template "header.html" .}}
<main class="faculty">




    <div class="intro">
        <h1>Meet our Faculty</h1>
        <hr class="top">
        <p>The Students’ Automobile Club of KGEC is guided and mentored by the esteemed professors of our college. They
            help the members gain knowledge about the machinery and working behind different kinds of vehicles. Our
            mentors have also helped us extensively in building prototypes of innovative vehicles.</p>
        <p>Every member and intern of SAC-KGEC is ensured access to all kinds of help that can be provided by the senior
            members and mentors of our club.</p>
    </div>



    <section>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="image"><img class="pic" src="/img/faculty/shantanusir.jpg" alt="Shantanu Das"></div>
                    <div class="contentbox">
                        <h3>Dr. Shantanu Das<br><span>Chairperson</span></h3>
                        <p>HOD of Mechanical Engineering Department,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100041324690127"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/santanu-das-856ba328/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>


            <div class="card">
                <div class="content">
                    <div class="image"><img class="pic" src="/img/faculty/dbiswas.jpg" alt="Debasish Biswas"></div>
                    <div class="contentbox">
                        <h3>Mr. Debasish Biswas<br><span>Treasurer</span></h3>
                        <p>Assistant Professor,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/debasishmechju"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/debasish-biswas-2798a51a1/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>


            <div class="card">
                <div class="content">
                    <div class="image"><img class="pic" src="/img/faculty/drsmukherjee.jpg" alt="Sanchayan Mukherjee">
                    </div>
                    <div class="contentbox">
                        <h3>Dr. Sanchayan Mukherjee</h3>
                        <p>Associate Professor,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/sanchayan.mukherjee.7"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/dr-sanchayan-mukherjee-499b7343/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>


            <div class="card">
                <div class="content">
                    <div class="image"><img class="pic" src="/img/faculty/trddas.jpg" alt="Triibesh Das">
                    </div>
                    <div class="contentbox">
                        <h3>Dr. Tridibesh Das</h3>
                        <p>Associate Professor,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/tridibesh.das.7"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>


            <div class="card">
                <div class="content">
                    <div class="image"><img class="pic" src="/img/faculty/dradutta.jpg" alt="Arijit Dutta">
                    </div>
                    <div class="contentbox">
                        <h3>Dr. Arijit Dutta</h3>
                        <p>Assistant Professor,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>


            <div class="card">
                <div class="content">
                    
                    <div class="image"><img class="pic" src="/img/faculty/schakraborty.jpg" alt="Mr. Samir Chakravarti">
                    </div>
                    <div class="contentbox">
                        <h3>Mr. Samir Chakravarti</h3>
                        <p>Assistant Professor,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>


            <div class="card">
                <div class="content">
                    <div class="image"><img class="pic" src="/img/faculty/dbhattacharya.jpg" alt="Mr. Debasish Bhattacharya">
                    </div>
                    <div class="contentbox">
                        <h3>Mr. Debasish Bhattacharya</h3>
                        <p>Technical Assistant,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="content">
                    <div class="image"><img class="pic" src="/img/faculty/akbhattacharya.jpg" alt="Mr. Ashis Kumar Bhattacharya">
                    </div>
                    <div class="contentbox">
                        <h3>Mr. Ashis Kumar Bhattacharya</h3>
                        <p>Technical Assistant,<br>Kalyani Government Engineering College</p>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.kgec.edu.in/"><img class="logo" height="20px" src="/img/kgec.png"
                                alt="KGEC logo"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>
{{template "footer.html" .}}