{{template "header.html" .}}

<main class="index">
    <section class="banner">
        <img src="./img/landing-background.png" class="background lg">
        <img src="./img/landing-background-sm.png" class="background sm">
        <div class="grid container">
            <div class="content">
                <h5><span>[</span> Students' Automobile Club <span>]</span></h3>
                    <h1>
                        <color>SAC</color> <span>KGEC</span>
                    </h1>
                    <h4>DESIGN - BUILD - TEST</h2>
                        <p>Established to bridge the gap between the techincal knowledge and skills in the automobile
                            fields among the engineering students.</p>
                        <a class="btn btn-1" href="about.html">
                            <svg>
                                <rect x="0" y="0" fill="none" width="100%" height="100%" />
                            </svg>
                            Discover
                        </a>
            </div>
            <div class="image">
                <img src="./img/landing-car.png" alt="car">
            </div>
        </div>
    </section>
</main>

{{template "footer.html" .}}